!!! 5
html
  head
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href="css/jquery.mobile-1.2.0.min.css")

    link(rel='stylesheet', href='index.css')

    script(src="lib/jquery-1.8.2.min.js")
    script(src="lib/jquery.mobile-1.2.0.min.js")
    
    script(src='lib/angular/angular.js')
    script(src='lib/angular/angular-cookies.js')
    script(src='lib/angular/angular-loader.js')
    script(src='lib/angular/angular-resource.js')
    script(src='lib/angular/angular-sanitize.js')
    script(src='lib/angular/angular-bootstrap.js')
    script(src='lib/angular/angular-bootstrap-prettify.js')
    script(src='lib/angular/angular-ui.js')
    script(src='lib/angular/angular-ui-ieshiv.js')

    script(src='lib/jquery-mobile-angular-adapter-1.1.2.js')

    script(src='index.js')

  body

